:root,
[data-bs-theme=light] {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: #198754;
  --bs-form-valid-border-color: #198754;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #dc3545;
}

/* love n hate relationship with coding;( */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
    cursor: url('/storage/cursors/custom-cursor.cur'), auto !important;
  }
  
  body {
    background-image: url("https://external-preview.redd.it/e7L-hY0gBzi7A6HWknGZtXuOL29OzKDxZqWfiXHjh2o.png?auto=webp&s=fc2e705ccee6546a50ac2f06df3adb05248ff710");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }
  
  h1, h2, h3 {
    color: #000;
    font-weight: normal;
  }

  img {
    width: 160px;
    height: 160px;
  }

  input {
    background-color: #C0C0C0;
    border-top: 3px solid #373737;
    border-left: 3px solid #373737;
    border-bottom: 3px solid #ececec;
    border-right: 3px solid #ececec;
  }

  textarea {
    background-color: #C0C0C0;
    border-top: 3px solid #373737;
    border-left: 3px solid #373737;
    border-bottom: 3px solid #ececec;
    border-right: 3px solid #ececec;
  }

  #boxed {
    border-top: 3px solid #9a9a9a;
    border-left: 3px solid #9a9a9a;
    border-bottom: 3px solid #fcfcfc;
    border-right: 3px solid #fcfcfc;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
  }
  
  #navbar {
    background-color: #C0C0C0;
    color: white;
    height: 800px;
    width: 150px;
    padding: 1px;
    border-top: 3px solid #ececec;
    border-left: 3px solid #ececec;
    border-bottom: 3px solid #373737;
    border-right: 3px solid #373737;
    margin-right: 20px;
  }
  
  #navbar h1 {
    text-align: center;
  }
  
.navbar-content-items {
  padding-top: .3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .navbar-content {
    color: black;
  }
  
  .main-wrapper {
    background-color: #C0C0C0;
    border-top: 3px solid #ececec;
    border-left: 3px solid #ececec;
    border-bottom: 3px solid #373737;
    border-right: 3px solid #373737;
    background-color: #C0C0C0;
    height: 800px;
    width: 600px;
    overflow: hidden;

  }

  .main-content-wrapper {
    height: calc(100% - 30px);
    overflow-y: auto;
  }

  .title-bar-wrapper {
    background-color: #000080;
  }

  .title-bar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title-bar-btn-wrapper {
    display: flex;
    align-items: center;
    padding: 4px 0;
    margin-right: 4px;
    height: auto;
    gap: 4px;
  }

  .button-wrapper {
    margin-left: 5px;
    
  }

  button {
    background-color: #C0C0C0;
    border-top: 3px solid #ececec;
    border-left: 3px solid #ececec;
    border-bottom: 3px solid #373737;
    border-right: 3px solid #373737;
  }

  .title {
    color: white;
    padding-left: 3px;
    font-size: .835rem;
  }

  .title:hover {
    text-decoration: underline;
  }

  .title-bar-btn {
    display: flex;
    align-items: center;
    height: 26px;
    padding: 0 4px;
  }
  
  .navbar-items {
    padding-top: 15px;
    text-align: center;
  }

  .col-6 {
    width: fit-content !important;
    padding: .3rem;
    margin: 5px;
  }

  .btn-1 {
    height: 50px; 
    width: 125px;
    line-height: 50px; 
  }

  .btn-1:hover {
    text-decoration: underline;
  }

  .btn-2 {
    display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 85px;
  line-height: normal;
  }

  button .title-bar-btn .title-bar-btn-wrapper .btn-close {
    background-color: #C0C0C0;
    border-top: 3px solid #ececec;
    border-left: 3px solid #ececec;
    border-bottom: 3px solid #373737;
    border-right: 3px solid #373737;
  }

  .box-1 {
    
    background-color: #fffff0;
    border-top: 3px solid #9a9a9a;
    border-left: 3px solid #9a9a9a;
    border-bottom: 3px solid #fcfcfc;
    border-right: 3px solid #fcfcfc;
    padding: 10px;
    margin: 10px;
    width: 250px;
  }

  .content-wrapper {
    overflow-y: auto;
    max-height: 100%;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    background-color: #c3c7cb;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    /* max-height: 100%; */
  } /* i need to restructure this css real soon*/
  
  .image-and-inputs {
    display: flex;
    align-items: center;
  }

  .image-wrapper {
    margin-right: 20px;
  }

  .inputs-wrapper {
    flex-grow: 1;
  }

  .inputs-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .gallery-image {
    margin-bottom: 20px;
  }

  .text-wrapper {
    flex: 1;
  }
  
  .image-title {
    margin-bottom: 5px;
  }
  
  .image-description {
    font-size: 14px;
  }

/* modals */
.modal.fade.show {
  background-color: transparent !important;
}

.modal.fade.show .modal-content {
  background-color: #C0C0C0;
  border-top: 3px solid #ececec;
  border-left: 3px solid #ececec;
  border-bottom: 3px solid #373737;
  border-right: 3px solid #373737;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.modal.fade .modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 0;
}

.modal.fade .modal-content {
  width: 100%;
  max-width: 600px;
}

.modal.fade .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.modal .modal-dialog {
  max-width: 600px;
}

.modal .modal-header, .modal .modal-body, .modal .modal-footer {
  padding: 10px 15px;
}

.modal-body .image-and-inputs {
  display: flex; 
  align-items: center; 
}

.modal-body .image-wrapper {
  margin-right: 20px; 
}

.modal-body .inputs-wrapper {
  flex-grow: 1; 
}


.modal .modal-header,
.modal .modal-footer {
  border: none;
}

.modal .modal-content {
  border-top: 3px solid #ececec;
  border-left: 3px solid #ececec;
  border-bottom: 3px solid #373737;
  border-right: 3px solid #373737;
  border-radius: 0px !important;
  background-color: #C0C0C0;
}

.modal .modal-header {
  background-color: #000080;
  border-radius: 0px !important;
  height: 35px;
  padding: 15px 4px;
}

.modal .modal-body,
.modal .modal-footer,
.modal .card-header.pb-0.p-3  {
  background-color: #C0C0C0;
  border: none;;
}

.modal .modal-footer {
  background-color: #C0C0C0;
}
.modal .modal-title {
  display: inline-block;
  color: #fff;
  font-weight: normal !important;
  font-size: small;
}
.modal .form-control {
  border-radius: 5px;
  box-shadow: none;
  border-color: #dddddd;
}
.modal textarea.form-control {
  resize: vertical;
}
.modal .btn {
  border-radius: 2px;
  min-width: 100px;
}
.modal form label {
  font-weight: normal;
}

.inputs-container {
  color: var(--bs-dark);
}

.input-with-background {
  position: relative;
  display: inline-block;
}

.input-with-background input[type="file"] {
  padding-right: 25px; 
}

.input-with-background::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAF0lEQVQY02NgoBf4jwJxSOHQhcNAOgMAWWAP8Rv2U3UAAAAASUVORK5CYII=");
  background-size: cover;
  background-color: #C0C0C0;
  border-top: 3px solid #ececec;
  border-left: 3px solid #ececec;
  border-bottom: 3px solid #373737;
  border-right: 3px solid #373737;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAIAAAD91JpzAAAAFElEQVQIW2M4fPz0////GYAYyAIASnoKpV3w4kgAAAAASUVORK5CYII=');
  image-rendering: pixelated;
}

::-webkit-scrollbar-track:active {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAIAAAD91JpzAAAAEElEQVQIW2No6+pjgAAgCwAWogM9VKrgGQAAAABJRU5ErkJggg==');
}

::-webkit-scrollbar-thumb {
  border-top: 1px solid #c3c7cb;
  border-left: 1px solid #c3c7cb;
  border-right: 1px solid #868a8e;
  border-bottom: 1px solid #868a8e;
  box-shadow: inset 1px 1px 0 0 #c3c7cb, inset -1px -1px 0 0 #868a8e;
  width: 16px;
  height: 16px;
  background-color: #C0C0C0;
  z-index: 1;
}

::-webkit-scrollbar-corner {
  background-color: #C0C0C0;
}

::-webkit-resizer {
  width: 16px;
  height: 16px;
  background-color: #C0C0C0;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAN0lEQVR4Ae3MgQUAMBRDwU5fFF05lb/CARTBw2Ulof0DxPtcwp3hNuEYnjbcEW4TjuFpwx3h9gMWGgZ2Y/PT2gAAAABJRU5ErkJggg==');
  background-position: bottom right;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-button {
  border-top: 1px solid #c3c7cb;
  border-left: 1px solid #c3c7cb;
  border-bottom: 1px solid #868a8e;
  border-right: 1px solid #868a8e;
  box-shadow: inset 1px 1px 0 0 #c3c7cb, inset -1px -1px 0 0 #868a8e;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #c3c7cb;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-position: center center;
}

::-webkit-scrollbar-button:active {
  background-position: 2px 2px;
}

::-webkit-scrollbar-button:horizontal:decrement {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHklEQVQY02NgoBT8xyX8H5fwf1zCpOjAYwceV1EEAAO2D/HsQ4vsAAAAAElFTkSuQmCC');
}

::-webkit-scrollbar-button:horizontal:increment {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHUlEQVQY02NgIB/8xy3xH7fEf9wS/0nUQZqrKAYAK44P8ZRmzLQAAAAASUVORK5CYII=');
}

::-webkit-scrollbar-button:vertical:decrement {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAF0lEQVQY02NgoBf4jwJxSOHQhcNAOgMAWWAP8Rv2U3UAAAAASUVORK5CYII=');
}

::-webkit-scrollbar-button:vertical:increment {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAEElEQVQY02NgoBf4jwJxSOHQhcNAOgMAWWAP8Rv2U3UAAAAASUVORK5CYII=');
}

::-webkit-scrollbar-button:horizontal:increment:start {
  display: none;
}

::-webkit-scrollbar-button:horizontal:decrement:end {
  display: none;
}

::-webkit-scrollbar-button:vertical:increment:start {
  display: none;
}

::-webkit-scrollbar-button:vertical:decrement:end {
  display: none;
}

::-webkit-scrollbar-button:active {
  border-top: 1px solid #868a8e;
  border-left: 1px solid #868a8e;
  border-bottom: 1px solid #868a8e;
  border-right: 1px solid #868a8e;
  box-shadow: none;
}